

#root {
    left: 50%;
    top: 50%;
/* 	transform-style: preserve-3d; */
/*     background-color: black; */
}

#outerframe {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    perspective: 100vw;
    border: 3px solid black;
    overflow: hidden;
    background-color: #aaf;
}

.c3d {
    position: absolute;
/*    left: 0;
    top: -100vh;*/
    transform-origin: 0 0 0;
    transform-style: preserve-3d;
    perspective-origin: left top;
/*     backface-visibility: visible; */
}
