
.stonewall {
    background-image: url("resources/wall.png");
    background-size: 100px 100px;
}

.wood {
    background-image: url("resources/wood.jpg");
    background-size: 100px 100px;
}

.stonefloor { 
    background-image: url("resources/floor.png");
}

.grassground { 
    background-image: url("resources/grass.png");
    backface-visibility: hidden;
}

.tree { 
    width: 200px;
    height: 500px;
    backface-visibility: visible;
}

.stoneceiling {
    background-image: url("resources/ceiling.png");
    background-size: 100px 100px;
}


.sign {
    background-color: #EBE8E8;
    position: absolute;
    border: 5px solid #522900;
    padding: 20px;
}
